body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

nav,
nav>* {
    height: initial;
    line-height: initial;
    font-size: initial;
    box-shadow: initial;
    padding: initial;
    -webkit-tap-highlight-color: initial;
    transition: none;
    float: initial;
}

nav ul li {
    height: initial;
    line-height: initial;
    font-size: initial;
    box-shadow: initial;
    transition: none;
}

nav ul a {
    font-size: inherit;
}

nav ul a:hover {
    background-color: initial;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.navbackground {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    text-align: center;
    width: 90%;
    z-index: 1000;
}

.navbar>li {
    font-size: 2em;
    font-weight: 300;
    padding: 5px 0;
    text-align: center;
    width: 25%;
}

.navitems {
    color: black;
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.navitems::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    -webkit-transition: width 0.5s, background 0.3s;
    transition: width 0.5s, background 0.3s;
    height: 4px;
    width: 0;
}

.navitems:hover::after {
    background: red;
    width: 100%;
}

.navitems.active::after {
    width: 100%;
    background: #1976d2;
}

.full {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.front>p {
    margin: 10px;
    line-height: 1.7;
}

.front>parallax {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

div.parallax>img {
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
}

.col {
    margin-top: 1px;
}

a.card-image>img {
    -webkit-filter: blur(1px) brightness(0.5);
    filter: blur(1px) brightness(0.5);
    width: auto;
}

div.section>h1 {
    margin: 2rem 0.5rem;
}

.cards-container .card {
    display: inline-block;
    overflow: visible;
}

.card .card-image .card-title {
    min-width: 200px;
}

.row>* {
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -webkit-break-inside: avoid;
}

.text-center {
    text-align: center;
}

.row {
    column-count: 2;
    column-gap: 0;
    flex-shrink: 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #193fd2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #3da3ff;
}

.me {
    border: solid 2px white;
    padding: 10px 14px;
    transition: all 0.5s;
}

.me:hover {
    background-color: white;
    padding: 15px 19px;
    color: black;
}